div{
    background-color: black;
    width:50%;
    margin-left:25%;
    margin-top:100px
}
h1{
    font-family: "Libre Baskerville", serif;
    color:white;
    text-align: center;
}
p{
    color:white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 10px;
}
img{ 
    width:100%;
    border:3px solid white;
    border-radius:50%;
}
body{
    background-color: black;
}